.md_essential_our_sponsor_block span.feature-remove span.dashicons.dashicons-no-alt {
    background: red;
    color: #fff;
    position: absolute;
    top: 0px;
    right: 0px;
}

.md_essential_our_sponsor_block .md_essential_our_sponsor-item.slick-slide {
    position: relative;
    background: #fff;
    padding: 15px 0;
}

.md_essential_our_sponsor_block button.components-button.has-icon {
    margin: 0 auto;
    display: block;
}

.md_essential_our_sponsor_block span.dashicon.dashicons.dashicons-plus {
    background: #007cba;
    color: #fff;
    padding: 6px 5px;
    height: 30px;
    width: 30px;
}

.md_essential_our_sponsor_block .slick-arrow{width:40px;height:40px;margin:0px;border:1px solid #ccc;border-radius:0px;position:absolute;font-size:0px;min-width:auto;padding:0;background-color:transparent !important;}
.md_essential_our_sponsor_block .slick-prev.slick-arrow{right:50px;top:-65px;left:inherit;}
.md_essential_our_sponsor_block .slick-next.slick-arrow{right:0;top:-65px;}
.md_essential_our_sponsor:not([data-arrows="true"]) .slick-arrow,
.md_essential_our_sponsor:not([data-dots="true"]) .slick-dots{display:none!important;}
.md_essential_our_sponsor_block .slick-arrow::before{font-family:FontAwesome;-moz-transform:translateX(-50%) translateY(-50%);-webkit-transform:translateX(-50%) translateY(-50%);-o-transform:translateX(-50%) translateY(-50%);-ms-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%);}
.md_essential_our_sponsor_block .slick-list{margin:0px -15px;}
.md_essential_our_sponsor_block .md_essential_our_sponsor-item{position:relative;margin:10px 15px;text-align:center;box-shadow:0px 0px 10px 0px rgba(0,0,0,0.1);-webkit-box-shadow:0px 0px 10px 0px rgba(0,0,0,0.1);-moz-box-shadow:0px 0px 10px 0px rgba(0,0,0,0.1);}
.md_essential_our_sponsor_block .slick-slide > img{display:inline-block;vertical-align:middle;}

.md_essential_our_sponsor_block .slick-dots,
.md_essential_our_sponsor_block .slick-dots li{list-style:none;display:inline-block;vertical-align:middle;margin-left:8px;}
.md_essential_our_sponsor_block .slick-dots li button{text-indent:-9999px;min-width:inherit;padding:0px;background-color:inherit !important;border:1px solid;border-color:transparent;width:14px;height:14px;border-radius:50%;position:relative;margin:0px;}
.md_essential_our_sponsor_block .slick-dots li button:hover,
.md_essential_our_sponsor_block .slick-dots li button:focus{-webkit-box-shadow:none;}

.md_essential_our_sponsor_block .slick-dots li button::before{width:6px;height:6px;border-radius:50%;background-color:#000;opacity:1;content:"";position:absolute;right:0;margin-top:-3px;margin-left:-3px;top:50%;left:50%;}

.md_essential_our_sponsor_block .slick-dots li.slick-active button{border-color:#000;}
.md_essential_our_sponsor_block ul.slick-dots {display: block;width: 100%;text-align: center;padding: 0;margin: 0;}

.md_essential_our_sponsor_block button.slick-prev{background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");}
.md_essential_our_sponsor_block button.slick-next {background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");}
.md_essential_our_sponsor_block .slick-prev,.slick-next {float:left;width: 40px !important;height: 40px !important;z-index: 10;cursor: pointer;-moz-background-size: 27px 44px;-webkit-background-size: 27px 44px;background-size: 14px 44px !important;background-position: center;background-repeat: no-repeat;}

.md_essential_our_sponsor_block img {
    height: 110px !important;
    max-width: 100%;
    padding: 10px 0;
    vertical-align: middle;
    object-fit: contain;
}

/* Slider */
.slick-slider
{
    position: relative;
    margin-top: 80px;
    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
